<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <title>Inloggen</title>

    <link rel= "stylesheet" type= "text/css" href= "/css/main.css" />

</head>


<body>
<div class="container">
    <div class="login">
        <h1 class="login-heading">
            <strong>Inloggen</strong> Inboeksysteem</h1>
        <form method="post" action="inboeken.html">
            <input type="text" name="user" placeholder="Gebruikersnaam" required="required" class="input-txt" />
            <input type="password" name="password" placeholder="Wachtwoord" required="required" class="input-txt" />
            <div class="login-footer">
                <a href="/account_werkgever" class="lnk">
                    Registreren
                </a>
                <button type="submit" class="btn btn--right">Log in  </button>

            </div>
        </form>
    </div>
</div>


</body>
</html>

